<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jixiao.dao.CheckdocMapper" >
  <resultMap id="BaseResultMap" type="com.jixiao.entity.Checkdoc" >
    <id column="DOCID" property="docid" jdbcType="INTEGER" />
    <result column="ACCOUNTID" property="accountid" jdbcType="INTEGER" />
    <result column="DOCNAME" property="docname" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="DESCRIPT" property="descript" jdbcType="VARCHAR" />
    <result column="CHECKTIME" property="checktime" jdbcType="TIMESTAMP" />
    <result column="STOPTIME" property="stoptime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DOCID, ACCOUNTID, DOCNAME, CREATETIME, DESCRIPT, CHECKTIME, STOPTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jixiao.entity.CheckdocExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkdoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkdoc
    where DOCID = #{docid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checkdoc
    where DOCID = #{docid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jixiao.entity.CheckdocExample" >
    delete from checkdoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jixiao.entity.Checkdoc" >
    insert into checkdoc (DOCID, ACCOUNTID, DOCNAME, 
      CREATETIME, DESCRIPT, CHECKTIME, 
      STOPTIME)
    values (#{docid,jdbcType=INTEGER}, #{accountid,jdbcType=INTEGER}, #{docname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{descript,jdbcType=VARCHAR}, #{checktime,jdbcType=TIMESTAMP}, 
      #{stoptime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jixiao.entity.Checkdoc" >
    insert into checkdoc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        DOCID,
      </if>
      <if test="accountid != null" >
        ACCOUNTID,
      </if>
      <if test="docname != null" >
        DOCNAME,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="descript != null" >
        DESCRIPT,
      </if>
      <if test="checktime != null" >
        CHECKTIME,
      </if>
      <if test="stoptime != null" >
        STOPTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        #{docid,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="docname != null" >
        #{docname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="stoptime != null" >
        #{stoptime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jixiao.entity.CheckdocExample" resultType="java.lang.Integer" >
    select count(*) from checkdoc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkdoc
    <set >
      <if test="record.docid != null" >
        DOCID = #{record.docid,jdbcType=INTEGER},
      </if>
      <if test="record.accountid != null" >
        ACCOUNTID = #{record.accountid,jdbcType=INTEGER},
      </if>
      <if test="record.docname != null" >
        DOCNAME = #{record.docname,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.descript != null" >
        DESCRIPT = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.checktime != null" >
        CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stoptime != null" >
        STOPTIME = #{record.stoptime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkdoc
    set DOCID = #{record.docid,jdbcType=INTEGER},
      ACCOUNTID = #{record.accountid,jdbcType=INTEGER},
      DOCNAME = #{record.docname,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      DESCRIPT = #{record.descript,jdbcType=VARCHAR},
      CHECKTIME = #{record.checktime,jdbcType=TIMESTAMP},
      STOPTIME = #{record.stoptime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jixiao.entity.Checkdoc" >
    update checkdoc
    <set >
      <if test="accountid != null" >
        ACCOUNTID = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="docname != null" >
        DOCNAME = #{docname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="descript != null" >
        DESCRIPT = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="stoptime != null" >
        STOPTIME = #{stoptime,jdbcType=DATE},
      </if>
    </set>
    where DOCID = #{docid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jixiao.entity.Checkdoc" >
    update checkdoc
    set ACCOUNTID = #{accountid,jdbcType=INTEGER},
      DOCNAME = #{docname,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      DESCRIPT = #{descript,jdbcType=VARCHAR},
      CHECKTIME = #{checktime,jdbcType=TIMESTAMP},
      STOPTIME = #{stoptime,jdbcType=DATE}
    where DOCID = #{docid,jdbcType=INTEGER}
  </update>
</mapper>